<div th:fragment="classesFragment(itemList)" th:remove="tag">
  <form id="values-form" hx-post="/save" hx-trigger="submit" class="space-y-4">
    <table class="divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="table-header min-w-60">Class</th>
          <th scope="col" class="table-header">Actions</th>
        </tr>
      </thead>
      <div
        x-data="{ newClass: '', resetInput() { this.newClass = ''; } }"
        class="flex"
      >
        <input
          type="text"
          class="border px-4 py-1 text-sm"
          name="newClass"
          placeholder="Enter new class"
          x-model="newClass"
          @keydown.enter.prevent="$refs.addButton.click()"
        />
        <button
          type="button"
          class="border-0 bg-gray-400 px-2 py-1 text-sm text-white hover:bg-gray-500"
          @click="$nextTick(() => { resetInput() })"
          hx-include="[name='newClass']"
          hx-post="/classes"
          hx-target="#value-container"
          hx-swap="beforeend"
          x-ref="addButton"
        >
          Add
        </button>
      </div>
      <tbody class="divide-y divide-gray-200 bg-white" id="value-container">
        <div
          th:each="value, iterStat : ${itemList}"
          th:with="index=${iterStat.index}"
          th:insert="~{classes-fragments :: classesItem(value, index)}"
          th:remove="tag"
        ></div>
      </tbody>
    </table>
    <!--        Needed for indexing of new items-->
    <input
      type="number"
      class="hidden"
      name="itemsCount"
      th:value="${itemList.size()}"
    />
    <!--        End of comment -->
  </form>
</div>

<div th:fragment="classesItem(value, index)" th:remove="tag">
  <tr
    th:x-data="|{
    isEditing: false,
    isBlacklisted: false,
    value: '${value}',
    originalValue: '',
    index: ${index},
    save() { this.isEditing = false; this.originalValue = this.value },
    cancel() { this.isEditing = false; this.value = this.originalValue },
    blacklist() { this.isBlacklisted = !this.isBlacklisted; this.updateNameAttribute() },
    updateNameAttribute() { const inputElement = this.$refs.input; inputElement.name = this.isBlacklisted ? 'blacklist[' + this.index + ']' : 'classes[' + this.index + ']' } }|"
    :class="{ 'bg-gray-50 text-gray-300': isBlacklisted, 'text-gray-900' :!isBlacklisted }"
  >
    <td class="table-data">
      <span
        x-show="!isEditing"
        @click="isEditing = true; originalValue = value"
        class="cursor-pointer"
        x-text="value"
      ></span>
      <input
        x-show="isEditing"
        x-model="value"
        @keydown.enter.prevent="save()"
        @blur="cancel()"
        type="text"
        class="border border-gray-400 px-2 py-1 text-sm"
        x-ref="input"
        th:name="'classes[' + ${index} + ']'"
      />
    </td>
    <td class="table-data">
      <button
        type="button"
        class="text-indigo-600 hover:text-indigo-900"
        @click.prevent="$el.closest('tr').remove()"
      >
        Delete
      </button>
      <button
        type="button"
        class="text-indigo-600 hover:text-indigo-900"
        @click.prevent="blacklist()"
        x-text="isBlacklisted ? 'De-Blacklist' : 'Blacklist'"
      ></button>
    </td>
  </tr>
</div>
