<!--#########################-->
<!-- classesFragment Fragment-->
<!--#########################-->
<div th:fragment="classesFragment(itemList)" th:remove="tag">
  <form
    id="values-form"
    hx-put="/feature"
    hx-trigger="submit"
    class="space-y-4"
  >
    <table class="divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="table-header min-w-60">Class</th>
          <th scope="col" class="table-header">Actions</th>
        </tr>
      </thead>
      <div
        x-data="{ newClass: '', resetInput() { this.newClass = ''; } }"
        class="flex"
      >
        <input
          type="text"
          class="border px-4 py-1 text-sm"
          name="newClass"
          placeholder="Enter new class"
          x-model="newClass"
          @keydown.enter.prevent="$refs.addButton.click()"
        />
        <button
          type="button"
          class="border-0 bg-gray-400 px-2 py-1 text-sm text-white hover:bg-gray-500"
          @click="$nextTick(() => { resetInput() })"
          hx-include="[name='newClass']"
          hx-post="/classes"
          hx-target="#value-container"
          hx-swap="beforeend"
          x-ref="addButton"
        >
          Add
        </button>
      </div>
      <tbody class="divide-y divide-gray-200 bg-white" id="value-container">
        <div
          th:each="classItem, iterStat : ${itemList}"
          th:with="index=${iterStat.index}"
          th:insert="~{classes-fragments :: classesItem(classItem, index)}"
          th:remove="tag"
        ></div>
      </tbody>
    </table>
    <!--        Needed for indexing of new items-->
    <input
      type="number"
      class="hidden"
      name="itemsCount"
      th:value="${itemList.size()}"
    />
    <!--        End of comment -->
  </form>
</div>

<!--#####################-->
<!-- classesItem Fragment-->
<!--#####################-->

<div th:fragment="classesItem(classItem, index)" th:remove="tag">
  <tr
    th:x-data="|{
      isEditing: false,
      classItem: {
        value: '${classItem.value}',
        blacklisted: '${classItem.blacklisted}',
      },
      originalValue: '',
      index: ${index},
      init() {
        this.setClass();
        this.updateHiddenInput();
      },
      save() {
        this.isEditing = false;
        this.originalValue = this.classItem.value;
        this.updateHiddenInput();
      },
      cancel() {
        this.isEditing = false;
        this.classItem.value = this.originalValue;
        this.updateHiddenInput();
      },
      toggleBlacklist() {
        this.classItem.blacklisted = (this.classItem.blacklisted === 'true') ? 'false' : 'true';
        this.updateHiddenInput();
        this.setClass();
      },
      setClass() {
        const row = $el.closest('tr');
        if (this.classItem.blacklisted === 'true') {
          row.classList.add('bg-gray-50', 'text-gray-300');
          row.classList.remove('text-gray-900');
        } else {
          row.classList.add('text-gray-900');
          row.classList.remove('bg-gray-50', 'text-gray-300');
        }
      },
      updateHiddenInput() {
        $el.querySelector('input[type=hidden]').value = this.classItem.blacklisted;
      }
    }|"
    x-init="init()"
    :class="{ 'bg-gray-50 text-gray-300': classItem.blacklisted === 'true', 'text-gray-900': classItem.blacklisted === 'false' }"
  >
    <td class="table-data">
      <span
        x-show="!isEditing"
        @click="isEditing = true; originalValue = classItem.value"
        class="cursor-pointer"
        x-text="classItem.value"
      ></span>
      <input
        x-show="isEditing"
        x-model="classItem.value"
        @keydown.enter.prevent="save()"
        @blur="cancel()"
        type="text"
        class="border border-gray-400 px-2 py-1 text-sm"
        x-ref="input"
        th:name="'classes[' + ${index} + '].value'"
      />
    </td>
    <td class="table-data">
      <button
        type="button"
        class="text-indigo-600 hover:text-indigo-900"
        @click.prevent="$el.closest('tr').remove()"
      >
        Delete
      </button>
      <button
        type="button"
        class="text-indigo-600 hover:text-indigo-900"
        @click.prevent="toggleBlacklist()"
        x-text="classItem.blacklisted === 'true' ? 'De-Blacklist' : 'Blacklist'"
      ></button>
      <input
        type="hidden"
        th:name="'classes[' + ${index} + '].blacklisted'"
        value=""
        x-init="$el.value = classItem.blacklisted"
      />
    </td>
  </tr>
</div>
