<div th:fragment="valueItem(value)" th:remove="tag">
  <tr
    th:x-data="|{ isEditing: false, value: '${value}', originalValue: '',
    save() { this.isEditing = false; this.originalValue = this.value },
    cancel() { this.isEditing = false; this.value = this.originalValue } }|"
  >
    <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-900">
      <span
        x-show="!isEditing"
        @click="isEditing = true; originalValue = value"
        class="cursor-pointer"
        x-text="value"
      ></span>
      <input
        x-show="isEditing"
        x-model="value"
        @keydown.enter.prevent="save()"
        @blur="cancel()"
        type="text"
        class="border border-gray-400 px-2 py-1 text-sm text-gray-900"
      />
    </td>
    <td class="whitespace-nowrap px-6 py-4 text-right text-sm font-medium">
      <a
        href="#"
        class="text-indigo-600 hover:text-indigo-900"
        @click.prevent="$el.closest('tr').remove()"
        >Delete</a
      >
      <a href="#" class="text-indigo-600 hover:text-indigo-900">Blacklist</a>
    </td>
  </tr>
</div>
