<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <th:block th:replace="~{fragments :: headers}"></th:block>
</head>
<body class="bg-gray-100">

<form th:action="@{/export}" method="post">
    <div class="container mx-auto my-10 flex flex-wrap items-stretch bg-white border p-2 rounded-md shadow-lg relative"
         x-data="{showButtons: false, inputText: ''}">
        <div class="w-full lg:w-1/2 h-[800px]" id="specificationDiv">
            <div class="p-2 flex items-center justify-center h-full border border-gray-300 bg-gray-200 rounded-md focus:outline-none focus:border-indigo-500">
                <div class="flex flex-col space-y-3 items-center">
                    <button class="bg-white w-64 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow flex items-center space-x-2 transform transition hover:bg-blue-200"
                            type="button">
                        <i class="bi bi-file-earmark-word text-blue-600 text-2xl"></i>
                        <span>Import from Word</span>
                    </button>
                    <button class="bg-white w-64 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow flex items-center space-x-2 transform transition hover:bg-red-200"
                            type="button"
                            onclick="document.getElementById('pdfFileInput').click();">
                        <i class="bi bi-file-earmark-pdf text-red-600 text-2xl"></i>
                        <span>Import from PDF</span>
                    </button>
                    <button class="bg-white w-64 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow flex items-center space-x-2 transform transition hover:bg-green-200"
                            hx-post="/loadSpecification?specification_type=example"
                            hx-target="#specificationDiv">
                        <i class="bi bi-file-earmark-text text-green-600 text-2xl"></i>
                        <span>Example specification</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-full lg:w-1/2 px-6 space-y3">
            <div id="classesDiv">
                <div class="pt-6 flex justify-center">
                    <button @click="showButtons = true;"
                            :disabled="inputText.trim() === ''"
                            :title="inputText.trim() === '' ? 'Please load or enter specification text.' : ''"
                            :class="{'bg-gray-200 cursor-not-allowed': inputText.trim() === '', 'bg-blue-800 hover:bg-blue-900': inputText.trim() !== ''}"
                            class="px-6 py-2 text-white flex items-center  rounded shadow-md"
                            th:hx-post="@{/getClasses}"
                            hx-target="#classesDiv" type="submit">
                        <i class="bi bi-rocket-takeoff text-2xl mr-2"></i>
                        <span>Start Ontology Generation</span>
                    </button>
                </div>
            </div>
            <div id="hierarchyDiv"></div>
            <div id="relationsDiv"></div>
            <div id="constraintsDiv"></div>
        </div>
        <div class="flex justify-end space-x-2 absolute bottom-0 right-0 mb-5 mr-5" x-show="showButtons">
            <button type="button" class="px-4 py-2 bg-gray-500 hover:bg-gray-600 text-white rounded shadow-md">
                Restart
            </button>
            <button type="submit" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded shadow-md">
                Export
            </button>
        </div>
    </div>
</form>
<form hx-post="/loadSpecification?specification_type=pdf"
      hx-target="#specificationDiv"
      hx-encoding="multipart/form-data"
      hx-trigger="change">
    <input type="file" id="pdfFileInput" name="pdfFile" style="display:none" accept="application/pdf"/>
</form>
<th:block th:replace="~{fragments :: footer}"></th:block>
</body>
</html>