<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <th:block th:replace="~{fragments :: headers}"></th:block>
</head>
<body class="bg-gray-100">

<form action="@{/getClasses}" method="post">
    <div class="container mx-auto my-3 flex flex-wrap items-stretch bg-white p-2 rounded-md shadow-lg relative"
         x-data="{ showButtons: false }">
        <div class="w-full lg:w-1/2">
            <textarea
                    class="form-textarea p-2 block w-full h-full border border-gray-200 rounded-md focus:outline-none focus:border-indigo-500"
                    placeholder="Enter text here" name="inputText" rows="38"
                    style="overflow-y: auto; resize: none;"></textarea>
        </div>
        <div class="w-full lg:w-1/2 px-6 space-y3">
            <div id="classesDiv">
                <div class="pt-6 flex justify-center">
                    <button @click="showButtons = true;"
                            class="px-6 py-2 bg-gray-500 hover:bg-gray-600 text-white rounded shadow-md"
                            th:hx-post="@{/getClasses}"
                            hx-target="#classesDiv" type="submit">
                        Start Ontology Generation
                    </button>
                </div>
            </div>
            <div id="hierarchyDiv"></div>
            <div id="relationsDiv"></div>
            <div id="constraintsDiv"></div>
        </div>
        <div class="flex justify-end space-x-2 absolute bottom-0 right-0 mb-5 mr-5" x-show="showButtons">
            <button type="button" class="px-4 py-2 bg-gray-500 hover:bg-gray-600 text-white rounded shadow-md">
                Restart
            </button>
            <button type="button" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded shadow-md">
                Export
            </button>
        </div>
    </div>
</form>
<th:block th:replace="~{fragments :: footer}"></th:block>
</body>
</html>