<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpOntecular</title>
    <th:block th:replace="~{fragments :: headers}"></th:block>
</head>
<body class="bg-gray-100">
<form th:action="@{/export}" method="post">
    <div class="container mx-auto my-10 flex flex-wrap items-stretch bg-white border p-2 rounded-md shadow-lg relative"
         x-data="{showButtons: false, inputText: '', showModal: false}">
        <div class="w-full lg:w-1/2 h-[800px]" id="specificationDiv">
            <div class="p-2 flex items-center justify-center h-full border border-gray-300 bg-gray-200 rounded-md focus:outline-none focus:border-indigo-500">
                <div class="flex flex-col space-y-3 items-center">
                    <button class="bg-white w-64 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow flex items-center space-x-2 transform transition hover:bg-blue-200"
                            type="button"
                            onclick="document.getElementById('wordFileInput').click();">
                        <i class="bi bi-file-earmark-word text-blue-600 text-2xl"></i>
                        <span>Import from Word</span>
                    </button>
                    <button class="bg-white w-64 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow flex items-center space-x-2 transform transition hover:bg-red-200"
                            type="button"
                            onclick="document.getElementById('pdfFileInput').click();">
                        <i class="bi bi-file-earmark-pdf text-red-600 text-2xl"></i>
                        <span>Import from PDF</span>
                    </button>
                    <button class="bg-white w-64 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow flex items-center space-x-2 transform transition hover:bg-green-200"
                            hx-post="/loadSpecification?specification_type=example"
                            hx-target="#specificationDiv">
                        <i class="bi bi-file-earmark-text text-green-600 text-2xl"></i>
                        <span>Example specification</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-full lg:w-1/2 px-6 space-y-3"
             x-data="{ specificationLoaded() { return this.inputText.trim() === ''; }}">
            <div id="classesDiv">
                <div class="pt-6 flex flex-col items-center">
                    <button @click="showButtons = true;"
                            :disabled="specificationLoaded()"
                            :title="specificationLoaded() ? 'Please load or enter specification text.' : ''"
                            class="px-6 py-2 text-white flex items-center rounded shadow-md"
                            :class="specificationLoaded() ? 'bg-gray-200 cursor-not-allowed' : 'bg-blue-800 hover:bg-blue-900'"
                            th:hx-post="@{/getClasses}"
                            hx-target="#classesDiv" type="submit">
                        <i class="bi bi-rocket-takeoff text-xl mr-2"></i>
                        <span>Start Ontology Generation</span>
                    </button>
                    <button @click="showModal = true"
                            type="button"
                            class="mt-2"
                            :class="specificationLoaded() ? 'text-gray-100 cursor-not-allowed' : 'text-gray-600'"
                            :disabled="specificationLoaded()"
                            :title="specificationLoaded() ? 'Please load or enter specification text.' : ''">
                        Settings
                    </button>
                </div>
            </div>
            <div id="hierarchyDiv"></div>
            <div id="relationsDiv"></div>
            <div id="constraintsDiv"></div>
        </div>
        <div class="flex justify-end space-x-2 absolute items-center bottom-0 right-0 mb-5 mr-5" x-show="showButtons">
            <a href="/restart"
               class="text-gray-600 font-bold mr-6 hover:underline hover:underline-offset-8 hover:decoration-2">
                <i class="bi bi-arrow-clockwise" title="Reload"></i>
                Restart
            </a>
            <button type="submit" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded shadow-md">
                Export
            </button>
        </div>
        <!-- Modal -->
        <div x-show="showModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50"
             x-transition:enter="transition ease-out duration-300"
             x-transition:enter-start="opacity-0"
             x-transition:enter-end="opacity-100"
             x-transition:leave="transition ease-in duration-300"
             x-transition:leave-start="opacity-100"
             x-transition:leave-end="opacity-0">

            <div class="container mx-auto w-1/2 flex justify-center items-start">
                <div class="bg-white mt-10 rounded shadow-lg w-full overflow-hidden" @click.away="showModal = false">
                    <div class="py-4 px-5 flex justify-between items-center">
                        <h2 class="text-xl"> Settings</h2>
                        <button type="button"
                                class="text-black"
                                @click="showModal = false">&times;
                        </button>
                    </div>
                    <div class="h-[600px] overflow-y-auto">
                        <div class="divide-y divide-solid">
                            <div th:include="settings-fragment :: settingItem('Classes', 'Enter class definition')"></div>
                            <div th:include="settings-fragment :: settingItem('Hierarchy', 'Enter hierarchy definition')"></div>
                            <div th:include="settings-fragment :: settingItem('Relations', 'Enter relations definition')"></div>
                            <div th:include="settings-fragment :: settingItem('Constraints', 'Enter constraints definition')"></div>
                        </div>
                    </div>


                    <div class="flex justify-end items-center w-100 bg-gray-100 p-3">
                        <button type="button"
                                class="text-gray-600 font-bold mr-6 hover:underline hover:underline-offset-8 hover:decoration-2"
                                @click="showModal = false">Cancel
                        </button>
                        <button type="button"
                                class="px-4 py-2 mr-6 bg-blue-500 text-white rounded hover:bg-blue-700"
                                hx-post="/updateFeature"
                                @click="showModal = false">Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form hx-post="/loadSpecification?specification_type=pdf"
      hx-target="#specificationDiv"
      hx-encoding="multipart/form-data"
      hx-trigger="change">
    <input type="file" id="pdfFileInput" name="pdfFile" style="display:none" accept="application/pdf"/>
</form>
<form hx-post="/loadSpecification?specification_type=word"
      hx-target="#specificationDiv"
      hx-encoding="multipart/form-data"
      hx-trigger="change">
    <input type="file" id="wordFileInput" name="wordFile" style="display:none" accept=".docx"/>
</form>
<th:block th:replace="~{fragments :: footer}"></th:block>
</body>
</html>