<th:block th:fragment="navbar">
  <nav class="bg-white shadow-md">
    <div class="container mx-auto px-3">
      <div class="flex items-center justify-between py-3">
        <!-- Logo -->
        <div class="flex items-center">
          <img th:src="@{/img/spontecular-logo.png}" class="h-12" alt="" />
          <a href="#" class="ml-2 text-2xl font-bold text-gray-800"
            >SpOntecular</a
          >
        </div>
        <div class="relative flex items-center">
          <button class="group text-gray-800 focus:outline-none">
            <i
              class="bi bi-gear text-4xl transition-all duration-75 group-hover:font-extrabold"
              title="Settings"
              @click="showModal = true"
            ></i>
          </button>
          <button class="group ml-2 text-gray-800 focus:outline-none">
            <i
              class="bi bi-question-circle text-4xl transition-all duration-75 group-hover:font-extrabold"
              title="Help"
            ></i>
          </button>
        </div>
      </div>
    </div>
  </nav>
</th:block>
