<!--###########################-->
<!-- relationsFragment Fragment-->
<!--###########################-->
<div th:fragment="relationsFragment(itemList)" th:remove="tag">
  <table class="divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="table-header min-w-60">Subject</th>
        <th scope="col" class="table-header min-w-60">Predicate</th>
        <th scope="col" class="table-header min-w-60">Object</th>
        <th scope="col" class="table-header">Actions</th>
      </tr>
    </thead>
    <div
      x-data="{
        newSubject: '',
        newPredicate: '',
        newObject: '',
        resetInput() { this.newSubject = ''; this.newPredicate = ''; this.newObject = '';
        } }"
      class="flex pb-3"
    >
      <input
        type="text"
        class="border px-4 py-1 text-sm"
        name="newSubject"
        placeholder="Enter subject class"
        x-model="newSubject"
        @keydown.enter.prevent="$refs.addButton.click()"
      />
      <input
        type="text"
        class="border px-4 py-1 text-sm"
        name="newPredicate"
        placeholder="Enter predicate"
        x-model="newPredicate"
        @keydown.enter.prevent="$refs.addButton.click()"
      />
      <input
        type="text"
        class="border px-4 py-1 text-sm"
        name="newObject"
        placeholder="Enter object class"
        x-model="newObject"
        @keydown.enter.prevent="$refs.addButton.click()"
      />
      <button
        type="button"
        class="border-0 bg-gray-400 px-2 py-1 text-sm text-white hover:bg-gray-500"
        @click="$nextTick(() => { resetInput() })"
        hx-include="[name='newSubject'], [name = 'newPredicate'], [name = 'newObject']"
        hx-post="/relations"
        hx-target="#relations-container"
        hx-swap="beforeend"
        x-ref="addButton"
      >
        Add
      </button>
    </div>
    <tbody class="divide-y divide-gray-200 bg-white" id="relations-container">
      <div
        th:each="relationsItem, iterStat : ${itemList}"
        th:with="index=${iterStat.index}"
        th:insert="~{relations-fragments :: relationsItem(relationsItem, index)}"
        th:remove="tag"
      ></div>
    </tbody>
  </table>
  <!--        Needed for indexing of new items-->
  <input
    type="number"
    class="hidden"
    name="itemsCount"
    th:value="${itemList.size()}"
  />
  <!--        End of comment -->
</div>

<!--#######################-->
<!-- relationsItem Fragment-->
<!--#######################-->
<div th:fragment="relationsItem(relationsItem, index)" th:remove="tag">
  <tr
    th:x-data="|{
      isEditing: {
        subject: false,
        predicate: false,
        object: false
      },
      relationsItem: {
        subject: '${relationsItem.subject}',
        predicate: '${relationsItem.predicate}',
        object: '${relationsItem.object}',
        blacklisted: '${relationsItem.blacklisted}',
      },
      originalValues: {
        subject: '${relationsItem.subject}',
        predicate: '${relationsItem.predicate}',
        object: '${relationsItem.object}'
      },
      index: ${index},
      init() {
        this.setRelations();
        this.updateHiddenInput();
      },
      save(field) {
        this.isEditing[field] = false;
        this.originalValues[field] = this.relationsItem[field];
        this.updateHiddenInput();
      },
      cancel(field) {
        this.isEditing[field] = false;
        this.relationsItem[field] = this.originalValues[field];
        this.updateHiddenInput();
      },
      toggleBlacklist() {
        this.relationsItem.blacklisted = (this.relationsItem.blacklisted === 'true') ? 'false' : 'true';
        this.updateHiddenInput();
        this.setRelations();
      },
      setRelations() {
        const row = $el.closest('tr');
        if (this.relationsItem.blacklisted === 'true') {
          row.classList.add('bg-gray-50', 'text-gray-300');
          row.classList.remove('text-gray-900');
        } else {
          row.classList.add('text-gray-900');
          row.classList.remove('bg-gray-50', 'text-gray-300');
        }
      },
      updateHiddenInput() {
        $el.querySelector('input[type=hidden]').value = this.relationsItem.blacklisted;
      }
    }|"
    x-init="init()"
  >
    <td class="table-data">
      <span
        x-show="!isEditing.subject"
        @click="isEditing.subject = true"
        class="cursor-pointer"
        x-text="relationsItem.subject"
        title="Edit"
      ></span>
      <input
        x-show="isEditing.subject"
        x-model="relationsItem.subject"
        @keydown.enter.prevent="save('subject')"
        @blur="cancel('subject')"
        type="text"
        class="border border-gray-400 px-2 py-1 text-xs"
        x-ref="input"
        th:name="'relations[' + ${index} + '].subject'"
      />
    </td>
    <td class="table-data">
      <span
        x-show="!isEditing.predicate"
        @click="isEditing.predicate = true"
        class="cursor-pointer"
        x-text="relationsItem.predicate"
        title="Edit"
      ></span>
      <input
        x-show="isEditing.predicate"
        x-model="relationsItem.predicate"
        @keydown.enter.prevent="save('predicate')"
        @blur="cancel('predicate')"
        type="text"
        class="border border-gray-400 px-2 py-1 text-xs"
        x-ref="input"
        th:name="'relations[' + ${index} + '].predicate'"
      />
    </td>
    <td class="table-data">
      <span
        x-show="!isEditing.object"
        @click="isEditing.object = true"
        class="cursor-pointer"
        x-text="relationsItem.object"
        title="Edit"
      ></span>
      <input
        x-show="isEditing.object"
        x-model="relationsItem.object"
        @keydown.enter.prevent="save('object')"
        @blur="cancel('object')"
        type="text"
        class="border border-gray-400 px-2 py-1 text-xs"
        x-ref="input"
        th:name="'relations[' + ${index} + '].object'"
      />
    </td>
    <td class="table-data">
      <button
        type="button"
        class="text-indigo-600 hover:text-indigo-900"
        @click.prevent="$el.closest('tr').remove()"
      >
        Delete
      </button>
      <button
        type="button"
        class="text-indigo-600 hover:text-indigo-900"
        @click.prevent="toggleBlacklist()"
        x-text="relationsItem.blacklisted === 'true' ? 'De-Blacklist' : 'Blacklist'"
      ></button>
      <input
        type="hidden"
        th:name="'relations[' + ${index} + '].blacklisted'"
        value=""
        x-init="$el.value = relationsItem.blacklisted"
      />
    </td>
  </tr>
</div>
